{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                
                
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-group">
                        {{ form.password(class="form-control form-control-lg",id="pass") }}
                        <span class="input-group-text" onclick="togglePassword('pass', this)" style="cursor: pointer;">
                        <i class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.conf_pass.label(class="form-control-label") }}
                    {% if form.conf_pass.errors %}
                        {{ form.conf_pass(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.conf_pass.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-group">
                        {{ form.conf_pass(class="form-control form-control-lg",id="conf_pass") }}
                        <span class="input-group-text" onclick="togglePassword('conf_pass', this)" style="cursor: pointer;">
                        <i class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <script>
function togglePassword(id, element) {
    const input = document.getElementById(id);
    const icon = element.querySelector('i');

    if (input.type === "password") {
        input.type = "text";
        icon.classList.replace('fa-eye-slash', 'fa-eye');
    } else {
        input.type = "password";
        icon.classList.replace('fa-eye','fa-eye-slash');
    }
}
</script>
{% endblock content %}